.friend-request-page {
  width: 100%;

  .layout {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .box {
    border-radius: 1rem;
    background: #191919;
  }

  .small {
    height: 100%;
    padding: 0.5rem;
  }

  .all-followers {
    width: 100%;
    height: 293px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem;
    overflow: auto;

    .user-follower {
      background-color: #111;
      padding-inline: 0.5rem;
      padding-block: 0.6rem;
      border-radius: 0.5rem;
    }
  }

  .all-followers::-webkit-scrollbar {
    display: none;
  }

  .large {
    padding: 0.5rem;
    height: 100%;
  }

  .all-users {
    width: 100%;
    height: 293px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;

    .user-card {
      height: fit-content;
      padding-block: 1rem;
      width: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #111;
      border-radius: 0.7rem;
      gap: 0.5rem;

      img {
        width: 4.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }
  }

  .all-users::-webkit-scrollbar {
    display: none;
  }
}
