.feed-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .feed {
    max-width: 350px;
    width: 100%;

    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .post {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #171717;
        gap: 0.7rem;
        padding: 0.5rem;

        .user {
          display: flex;
          align-items: center;
          gap: 0.6rem;

          .img-wrapper {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid rgba(255, 0, 0, 0);
            background: conic-gradient(
                from 45deg,
                rgb(255, 105, 11),
                rgb(255, 36, 208),
                orangered
              )
              border-box;
            img {
              width: 2rem;
              aspect-ratio: 1/1;
              border-radius: 50%;
            }
          }
        }

        img {
          width: 100%;
        }

        .icons {
          display: flex;
          justify-content: space-between;

          .left {
            display: flex;
            gap: 0.5rem;
          }
          svg {
            width: 1.35rem;
            aspect-ratio: 1/1;
            color: whitesmoke;
          }

          .is-liked{
            color: rgb(184, 15, 63);
          }

          button {
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
