main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  //   height: fit-content;
  min-width: 30rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    input,
    button {
      width: 100%;
      font-size: 1.1rem;
      border: none;
      outline: none;
      padding-inline: 1.2rem;
      padding-block: 0.9rem;
      border-radius: 1rem;
    }

    button {
      font-weight: 600;
      font-size: 1rem;
      background-color: #c73c01;
      color: whitesmoke;
      cursor: pointer;
    }
  }
  .toggleAuthForm {
    color: #c73c01;
    cursor: pointer;
    text-decoration: none;
  }
}
