* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
}

html {
  background-color: #222;
  color: whitesmoke;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.button {
  outline: none;
  border: none;
  border-radius: 0.8rem;
  padding-inline: 0.6rem;
  padding-block: 0.55rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary-button {
    background: linear-gradient(to right bottom , orangered 5%, rgb(231, 11, 11) );
    color: whitesmoke;
    font-weight: 600;
  }

  &:active {
    scale: 0.95;
  }
}